.git
.github
.idea
.vs
.sonarqube
.agents
.env
.env.*
**/bin
**/obj
**/TestResults
TestResults
coverage.xml
*.user
*.suo
*.binlog
ControllerTests
DomainTests
RepositoryTests
ServiceTests
StressTests
postman
tmp
